%body
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name 
          = current_user.name
        %ul.side-header__box__menu
          = link_to '#', class: "side-header__box__menu__new-group" do
            %i.fas.fa-edit
          = link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
            %i.fas.fa-cog

    .groups
      = link_to '#', class: "group" do
        %p.group__group-name test-group
        %p.group__group-latest-message まだメッセージはありません
      = link_to '#', class: "group" do
        %p.group__group-name sample-group
        %p.group__group-latest-message まだメッセージはありません
      
      